{% extends 'menu/base.html' %}
{% load static %}

{% block content %}

<!-- Баннер -->
<div class="mb-5 position-relative text-white banner-karelian">
    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50 rounded"></div>
    <div class="position-relative h-100 d-flex flex-column justify-content-center align-items-center px-4">
        <h1 class="display-5 fw-bold text-shadow">Путеводитель по блюдам Петрозаводска</h1>
    </div>
</div>

<blockquote class="blockquote text-center">
    <p class="mb-0">Добро пожаловать в самое сердце Карелии, в город Петрозаводск, где история переплетается с живописной природой, а традиции бережно хранятся в каждом уголке. Наш путеводитель – это не просто перечень ресторанов и кафе. Это приглашение в захватывающее гастрономическое путешествие, в котором вы станете настоящим искателем Карельского Вкуса</p>
    <hr>
  </blockquote>

<!-- Категории -->
<h3 class="mb-4 text-center">🍽️ Категории блюд</h3>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for category in categories %}
        <div class="col">
            <div class="card h-100 text-center shadow border-0">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">{{ category.name }}</h5>
                    <a href="{% url 'category_dishes' category.id %}" class="btn btn-outline-success mt-3">Посмотреть блюда</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
